header{
  text-align: center;
  ul {
    list-style: none;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        color:$menu-color;
        padding: 15px;

        &:hover{
          background-color: $sfondo-menu;
        }
      }
    }
  }
}
