.jumbotron{
  margin-top:30px;
  height:600px;
  background-image:url('../../img/fondo-pag-speciali.jpg');
}
.card-container{
  display:flex;
  flex-wrap:wrap;

  .card{
    width: calc(100% / 3);
    position:relative;

      img{
        max-width: 100%;
      }
      .overlay {
        display: none;

      }
      .overlay a{
        color:darkblue;
        text-decoration: none;
      }

  &:hover .overlay {
    font-size: 15px;
    display: block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  &:hover .card{
    width: 100%;
    background:yellow;
    z-index:1;
  }
}

}
.sfondo-news{
  margin-top: 30px;
  height: 300px;
  background-repeat: no-repeat;
  background-image:url('../../img/footer-montagne-bottom.jpg');

}
h1{
  padding:15px;
  font-weight: bold;
}

.scheda-prodotto img{
  max-width: 100%;
  display: flex;
}
.descrizione{
  background-color: $sfondo-menu;
  padding:30px;
}
.info{
  display: flex;
  justify-content: space-around;
  margin-top:30px;
  padding:20px;
}
